* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 4rem;
    --ftr-height: 8rem;
}

.container {
    margin: auto;
    max-width: 1000px;
    padding: 0 2rem;
}

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* main body */
.main-main {
    min-height: calc(100vh - var(--nav-height) - var(--ftr-height));
    padding: 0 0 3.2rem;
} 
.main-main > .container:first-child {
    padding-top: 3.2rem;
}

.page-heading {
    text-align: center;
    margin: 0 0 2rem;
}
.sub-heading {
    margin: 0 0 1.6rem;
}

.alert {
    text-align: center;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.auth-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.form-inp {
    margin-bottom: 1.5rem;
}
.form-inp.radios {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 10.5rem;
    justify-content: space-between;
}
.radios > .label {
    margin-right: 0.8rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button.delete {
    background-color: #d4576f;
    border-color: #d4576f;
    color: #fff;
}
button.delete:active {
    color: #fff;
    background-color: #bd4960;
    border-color: #bd4960;
}
button.delete:focus {
    color: #fff;
    background-color: #913749;
    border-color: #872d3f;
    box-shadow: 0 0 0 0.25rem rgba(135, 45, 63, 0.5);
}

.form-submit {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.form-submit:active {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
}
.form-submit:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

/* navigation */
.main-nav {
    height: var(--nav-height);
    box-shadow: 0 -2px 8px rgb(0 0 0 / 32%);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.main-nav-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-lis {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.nav-item {
    margin-left: 1rem;
    color: #222222;
}

.nav-link {
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
}

/* admin nav */
.admin-nav {
    height: 3.6rem;
    background-color: #323232;
    position: sticky;
    top: var(--nav-height);
    z-index: 8;
}
.admin-nav-wrapper {
    height: 100%;
}
.tab-btns {
    list-style: none;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.tab {
    flex: 1 1 0;
    height: 100%;
}
.tab-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #ddd;
    border: none;
    font-size: 1.125rem;
}
.tab-btn:hover {
    cursor: pointer;
}
.tab-btn.active {    
    background-color: #404040;
    box-shadow: 0 0 8px -3px black;
    color: #fefefe;
    font-weight: 600;
}
.tab-view {
    display: none;
}
.tab-view.active-view {
    display: block;
}

/* admin */
.bus-status-icon {
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 100%;
}
.bus-status-icon.active {
    background-color: rgb(81, 182, 129);
}
.bus-status-icon.inactive {
    background-color: rgb(244, 201, 80);
}

/* table */
.table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: bottom;
}

.table thead th {
    border-bottom: solid 2px #212529;
}

.table thead th, .table tbody tr {
    text-align: left;
}
.table thead th:last-child, .table tbody td:last-child {
    text-align: end;
}
.table th, .table td {
    padding: 0.5rem;
}

.table tfoot > tr:first-child {
    border: none;
}
.table tfoot > tr:first-child {
    border-top: solid 2px #212529;
}
.table tfoot tr > td:first-child {
    font-weight: 600;
    text-align: end;
}
.table tfoot tr > td:last-child {
    text-align: end;
}

/* admin edit bus */
.bus-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.update-time {
    margin: 2rem 0 1.6rem;
    text-align: end;
    font-size: 0.8rem;
}
.update-time > time {
    font-weight: 600;
}

/* footer */
.main-footer {
    height: var(--ftr-height);
    background-color: #272727;
    color: #eee;
}

.main-footer-wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}