{% extends "layout.html" %}
{% block title %} | Admin{% endblock %}

{% block main %}
<nav class="admin-nav">
    <div class="admin-nav-wrapper container">
        <ul class="tab-btns">
            <li class="tab">
                <button onclick="switchTab('register')" class="tab-btn active">Register</button>
            </li>
            <li class="tab">
                <button onclick="switchTab('manage')" class="tab-btn">Manage</button>
            </li>
        </ul>
    </div>
</nav>

{% if get_flashed_messages() %}
<header class="container">
    <div class="alert" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}

<div class="container section tab-view active-view">
    <h1 class="page-heading">Register a new bus</h1>
    <form class="auth-form" action="/register_bus" method="post">
        <div class="form-inp">
            <input autocomplete="off" autofocus class="form-control" id="busname" name="busname" placeholder="Bus name"
                type="text">
        </div>
        <div class="form-inp">
            <input autocomplete="off" autofocus class="form-control" id="license" name="license"
                placeholder="License Plate" type="text" required>
        </div>
        <button class="btn form-submit" type="submit">Register bus</button>
    </form>
</div>

<div class="container section tab-view">
    <h1 class="page-heading">Manage buses</h1>

    <div class="scroll-table-wrapper">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>License plate</th>
                    <th>GPS Coordinates</th>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in buses %}
                <tr>
                    <td class="status">
                        {% if row.status == 1 %}
                        <div title="Status active" aria-label="Status active" class="bus-status-icon active"></div>
                        {% else %}
                        <div title="Status inactive" aria-label="Status inactive" class="bus-status-icon inactive">
                        </div>
                        {% endif %}
                    </td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.license_plate }}</td>
                    <td>{{ row.lng }},{{ row.lat }}</td>
                    <td>{{ row.in_campus_location }}</td>
                    <td>
                        <a href="/update_bus?id={{ row.id }}">
                            Edit
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="bus-summary">
        <table>
            <tr>
                <th>Active buses</td>
                <td>{{ active }}</td>
            </tr>
            <tr>
                <th>Inactive buses</td>
                <td>{{ inactive }}</td>
            </tr>
        </table>
    </div>
</div>

<script>
    function switchTab(tab) {
        const tabBtns = document.getElementsByClassName('tab-btn')
        const views = document.getElementsByClassName('tab-view')
        if (tab == 'register') {
            tabBtns[0].classList.add('active')
            tabBtns[1].classList.remove('active')
            views[0].classList.add('active-view')
            views[1].classList.remove('active-view')
        } else {
            tabBtns[0].classList.remove('active')
            tabBtns[1].classList.add('active')
            views[0].classList.remove('active-view')
            views[1].classList.add('active-view')
        }
    }
</script>


{% endblock %}