<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>geolocation</title>
</head>

<body>
  <select id="busId" type="number" name="bus_id">
    <option value="0">Select bus ID</option>
    {% for id_obj in bus_ids %}
    <option value="{{ id_obj.id }}">{{ id_obj.id }}</option>
    {% endfor %}   
  </select>
  <button id="submit" type="button">
    Initiate location update
  </button>

  <p>
    <a target="_blank" href="chrome://flags/#unsafely-treat-insecure-origin-as-secure">
      Fix chrome permissions
    </a>
    Copy the url of this page and add it to the text box by visiting the above link
  </p>
  <div id="errors"></div>
  <p id="loc"></p>
  <p id="giveLink"></p>
</body>

<script type="module">
  const API_KEY = 'qazsevaqpoi123,azxcv42afpiweqf~faefalkj123';
  let ID = 0;

  document.getElementById("submit").addEventListener("click", initiateLocationTransmit)

  function initiateLocationTransmit() {
    let idSelect = document.getElementById("busId");
    ID = idSelect.value;
    setInterval(() => {
      console.log(new Date().toLocaleTimeString('en-IN'))
      getLocation();
    }, 2000);
  }

  async function InsertData(lng, lat) {
    const response = await fetch('/location_update?' + new URLSearchParams({
      api_key: API_KEY,
      id: ID,
      lng: lng,
      lat: lat
    }))
    return response;
  }

  let loc = document.getElementById("loc");
  let mapEl = document.getElementById("map");
  async function showPosition(position) {
    loc.innerHTML = "Latitude: " + position.coords.latitude +
      "<br>Longitude: " + position.coords.longitude;

    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    let url = `http://www.google.com/maps/place/${lat},${lng}`
    document.getElementById('giveLink').innerHTML = `
    <a href="${url}">${url}</a>
    `;
    InsertData(lng, lat);
  }

  async function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
      loc.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  const x = document.getElementById("errors")
  async function showError(error) {
    switch (error.code) {
      case error.PERMISSION_DENIED:
        x.innerHTML = "User denied the request for Geolocation."
        break;
      case error.POSITION_UNAVAILABLE:
        x.innerHTML = "Location information is unavailable."
        break;
      case error.TIMEOUT:
        x.innerHTML = "The request to get user location timed out."
        break;
      case error.UNKNOWN_ERROR:
        x.innerHTML = "An unknown error occurred."
        break;
    }
  }
</script>

</html>